body{
    background-color: #1e2129;
    color: #8e95a5;
}
.bg-brand{
    background-color: #2d313d;
    
}
.bg-brand-secondary{
    background-color: #2d313d;
    height: 70px;
    width: 200px;
    font-family:sans-serif;
    font-size: 5px;
    

}

.font{
    font-size: 14px;
}
.btn-clr{
    background-color:  #adbade;
    outline: none;
    border: none;
    font-size: 10px;
    padding:5px;
}
.algn{
    align-items: center;
}
.head-font{
    font-family: sans-serif;
}
